<h1>New Bookmark for <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-group">
    <%= f.input :comment %>
    <%= f.association :list %>
    <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id, prompt: 'Choose a movie' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Create Bookmark', class: 'btn btn-primary' %>
  </div>
<% end %>
